html {
    position: relative;
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
}

body {
    color: #fff;
    background-color: #18181a;
}

body {
    margin:0;
    padding:0;
}

@media screen and (max-width:768px) {
    section.body .cards {
        grid-template-columns:repeat(1,1fr)
    }
}
